In [1]:
dataset_id = "billboard_staging"

In [2]:
!bq --location=US mk --dataset {dataset_id}

BigQuery error in mk operation: Dataset
'coherent-server-252621:billboard_staging' already exists.

In [3]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Weekly_Ratings \
'gs://primary_set_imdb/weekly_songs/weekly_ratings.csv'

Waiting on bqjob_r744d654f3163318f_0000016e70bc84df_1 ... (6s) Current status: DONE

In [4]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Yearly_Ratings \
'gs://primary_set_imdb/yearly_songs/yearly_ratings.csv'

Waiting on bqjob_r1da854882cac1ac8_0000016e70bca92c_1 ... (2s) Current status: DONE

In [5]:
!bq --location=US load --autodetect --skip_leading_rows=1 \
--source_format=CSV {dataset_id}.Radio_Ratings \
'gs://primary_set_imdb/radio_rankings/radio_ratings.csv'

Waiting on bqjob_r38fa0ee13cb83e00_0000016e70bd184b_1 ... (1s) Current status: DONE

In [6]:
%%bigquery 
select count(*) from billboard_staging.Weekly_Ratings

      f0_
0  300600

In [7]:
%%bigquery 
select count(*) from billboard_staging.Yearly_Ratings

    f0_
0  5300

In [8]:
%%bigquery 
select count(*) from billboard_staging.Radio_Ratings

    f0_
0  7990

In [12]:
modeled_dataset_id = "billboard_modeled"
!bq --location=US mk --dataset {modeled_dataset_id}

Dataset 'coherent-server-252621:billboard_modeled' successfully created.

Creating Modeled Datasets

In [14]:
%%bigquery
create or replace table billboard_modeled.Weekly_Ratings as
select *
from billboard_staging.Weekly_Ratings

Empty DataFrame
Columns: []
Index: []

In [15]:
%%bigquery
create or replace table billboard_modeled.Yearly_Ratings as
select *
from billboard_staging.Yearly_Ratings

Empty DataFrame
Columns: []
Index: []

In [16]:
%%bigquery
create or replace table billboard_modeled.Radio_Ratings as
select *
from billboard_staging.Radio_Ratings

Empty DataFrame
Columns: []
Index: []