In [3]:
dataset_id = "reporting"

In [4]:
!bq --location=US mk --dataset {dataset_id}

Dataset 'coherent-server-252621:reporting' successfully created.

Query 1, find the years and title where the song and movie both have high rankings

In [45]:
%%bigquery 
create view reporting.v_high_ratings as
select year, Title, Artist, Rank, startYear, primaryTitle, averageRating from `coherent-server-252621.billboard_modeled.Yearly_Ratings` join 
(select startYear, primaryTitle, averageRating from `coherent-server-252621.imdb_modeled.title_basics` t join `coherent-server-252621.imdb_modeled.Ratings` r on t.tconst = r.tconst)
on year = startYear
where Rank < 11 and averageRating > 9.0
order by startYear

Empty DataFrame
Columns: []
Index: []

Query 2, find the number of high rating movies and song release pairs grouped by year.

In [47]:
%%bigquery 
create view reporting.v_high_rating_pairs as
select COUNT(*) Pairs, year
from `coherent-server-252621.billboard_modeled.Yearly_Ratings` yr join 
(select startYear, averageRating 
 from `coherent-server-252621.imdb_modeled.title_basics` t join `coherent-server-252621.imdb_modeled.Ratings` r on t.tconst = r.tconst)
on year = startYear
where Rank < 11 and averageRating > 9.0
group by year
order by year

Empty DataFrame
Columns: []
Index: []

Query 3, find the number of movie soundtracks per year

In [48]:
%%bigquery 
create view reporting.v_number_movie_soundtracks as
select r.year, count(r.Artist) as number_of_movie_soundtracks from `coherent-server-252621.billboard_modeled.Yearly_Ratings` r
join `coherent-server-252621.imdb_modeled.People` p on p.primaryName = r.Artist
group by r.year

Empty DataFrame
Columns: []
Index: []